@import "../../../vars.scss";

.employer-dashboard-container {
	max-width: 30rem;
	margin: 40px auto;
	padding: 1.5rem;
}

.employer-dashboard-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.employer-details {
	background-color: $m1;
	border: 1px solid $m2;
	border-radius: 0.5rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.detail-label {
	font-weight: bold;
}
